.money {
  font-variant-numeric: tabular-nums;
}

.income {
  color: var(--ion-color-success-shade, var(--ion-color-success, #2f9e44));
}

.expense {
  color: var(--ion-color-danger-shade, var(--ion-color-danger, #d64545));
}
